.TariffCard {
    padding: 2em;
    border-radius: 1em;
    text-align: center;
    color: var(--neutral-dark-grayish-blue);
    background-color: var(--neutral-white);
    width: min(100%, 30rem);
}
.TariffCard:nth-child(1) {
    background-image: linear-gradient(to right, lightblue, rgb(120, 153, 163));
}
.TariffCard:nth-child(2) {
    background-image: linear-gradient(to right, lightseagreen, teal);
}
.TariffCard:nth-child(4) {
    background-image: linear-gradient(to right, lightpink, rgb(169, 106, 116));
}
.TariffCard:nth-child(3) {
    background-image: linear-gradient(to right, var(--primary-linear-gradient));
    color: var(--neutral-white);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.TariffCard header > .pricing-price {
    margin-block: 1rem;
    font-size: 1em;
}

.TariffCard .card-features > * {
    padding-block: 1em;
    border-bottom: 1px solid var(--neutral-light-grayish-blue);
}

.TariffCard .card-features :first-child {
    border-top: 1px solid var(--neutral-light-grayish-blue);
}

.TariffCard .card-features :last-child {
    margin-bottom: 2em;
}

@media screen and (max-width: 800px) {
    .TariffCard:nth-child(3) {
        align-self: center;
    }

}

.pricing-price {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 10vh;
}

.rub {
    align-content: baseline;
}

.price-card {
    align-content: center;
}

.month {
    align-content: end;
}
